#producto-disponible{
    width: 500px;
    margin: auto;
}

.indumentaria-disponible-carro{
    display: flex;
    gap: 20px;
    align-items: center;
}

.indumentaria-disponible-carro img {
    height: 100px;
    aspect-ratio: 1.5;
}

.indumentaria-disponible-carro h3 {
    width: 100px;
    font-size: 15px;
}
.indumentaria-disponible-carro p {
    width: 50px;
    font-size: 15px;
}

#totales, #vacio {
    text-align: center;
}
.escondido {
    display: none;
}
.formularioCompraForm {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 50vh;             
    background-color: #f9f9f9; 
}

form {
    width: 300px;
    padding: 20px;
    background-color: rgb(77, 75, 75);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}


#mensajeCompra{
    text-align: center;
}