div p{
    margin-left: 10px;
}

.nombreComentario{
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-family: Lucida Sans Regular;
    margin-left: 18px;
}

.nombreComentario:hover{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.emailComentario{
    color: black;
    font-size: 15px;
    font-family: Verdana;
    margin-left: 10px;
}

hr {
    border: 0; 
    border-top: 2px solid #000; 
    height: 0; 
    margin: 5px;
}

.titulo{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: Lucida Sans Regular;
    text-align: center;
}