#producto-disponible{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    margin-top: 15px;
}

.indumentaria-disponible{
    max-width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.indumentaria-disponible img{
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    filter: grayscale(75%);
    border-radius: 10px;
    aspect-ratio: 1.5;
    transition: 250ms;
}

.indumentaria-disponible img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}