
a{
    text-decoration: none;
    color: black;
    font-family: tahoma;
    font-size: 15px;
}

body{
    font-family: Tahoma;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a:hover:not(#carro:hover){
    color: rgb(253, 174, 4);
    font-family: tahoma;
    font-size: 20px;
}

header{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

header nav .haderDiv{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

#acumulado-carrito{
    background-color: rgb(253, 174, 4);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
    line-height: 20px;
    position: absolute;
}

#logo{
    height: 40px;
}

header nav img{
    height: 25px;
}

button{
    background-color: rgb(215, 215, 215);
    color: black;
    padding: 5px 8px;
    border: unset;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    cursor: pointer;
}

h3, p{
    margin: 8px 0;   
}